.blog{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-post {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

  flex: 1 1 45%;
  max-width: 500px;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.post-title {
  margin-top: 10px;
}

.post-description {
  margin-top: 10px;
  line-height: 1.6;
  color: #555;
}

/* Sidebar */
.sidebar {
  position: fixed;
}

.fit-image{
  width: 400px;
  height: 590px;
  object-fit: cover;
  border-radius: 10px;
  right: 100px;
  top: 200px;
  position: fixed;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    order: -1;
  }
}


